SPRING_PROFILES_ACTIVE=prod

APP_VERSION=latest
SERVER_PORT=8080

API_DOMAIN=api.squadraplay.com
LETSENCRYPT_EMAIL=admin@squadraplay.com
HTTP_PORT=80
HTTPS_PORT=443

POSTGRES_DB=booking_squadra
POSTGRES_USER=booking_squadra
POSTGRES_PORT=5432
DB_PASSWORD=
DB_POOL_MAX=20
DB_POOL_MIN=5
DB_CONNECTION_TIMEOUT_MS=30000

JWT_SECRET=
JWT_EXPIRATION_MS=3600000

MAILGUN_API_KEY=
MAILGUN_DOMAIN=mail.squadraplay.com
MAILGUN_FROM=Squadra <naoresponder@mail.squadraplay.com>
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_OTP_TEMPLATE=019dcff1-fc35-7b88-a0d7-c87d728bc04e

PAYMENTS_WEBHOOK_TOKEN=

LOG_LEVEL_ROOT=WARN
LOG_LEVEL_APP=INFO
LOG_LEVEL_SQL=WARN
LOG_LEVEL_SQL_BIND=WARN

JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75 -XX:+ExitOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Duser.timezone=UTC
